.board
  padding: 15px
  border-radius: 10px
  box-shadow: 0 0 4px 0 #878d8e
  display: grid
  grid-template-rows: repeat(8, 40px)
  grid-template-columns: repeat(8, 40px)
  grid-gap: 8px

  &__square
    border: 1px solid black
    cursor: pointer

    &_color
      &_red
        background-color: red
      &_green
        background-color: green
      &_blue
        background-color: blue